<nav>
<ul class="nav nav-pills justify-content-center mt-1 mb-3">
  <li class="nav-item">
    <a class="nav-link{% if page.url == "/" %} active{% endif %}" href="{{site.baseurl}}{% link index.html %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page.url contains "races" %} active{% endif %}" href="{{ site.baseurl }}/races/{{ site.year }}{% link index.html %}">Races</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page.url == "/about.html" %} active{% endif %}" href="{{ site.baseurl }}{% link about.html %}">About</a>
  </li>
</ul>
</nav>